rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }

    // Permitir todo a usuarios autenticados (Admin total)
    match /{document=**} {
      allow read, write: if isSignedIn();
    }
  }
}
