rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Helper Functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }
    
    function isManager() {
      let userRole = get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role;
      return isSignedIn() && (userRole == 'Sales Director' || userRole == 'Administrator');
    }

    // Rules for top-level collections

    // Users can read their own profile, managers can read any profile.
    // Users can create and update their own profile.
    match /users/{userId} {
      allow get: if isOwner(userId) || isManager();
      allow list: if isManager(); // Only managers can list users
      allow create, update: if isOwner(userId);
      allow delete: if false; // Don't allow users to delete their own accounts
    }

    // Leads can be read by their assigned advisor or any manager.
    // Leads can be listed by managers.
    // Leads can be created by managers.
    // Leads can be updated by their assigned advisor or any manager.
    // Leads can be deleted by managers.
    match /leads/{leadId} {
      allow get: if isSignedIn() && (isOwner(resource.data.assignedToId) || isManager());
      allow list: if isManager();
      allow create: if isManager();
      allow update: if isSignedIn() && (isOwner(resource.data.assignedToId) || isManager());
      allow delete: if isManager();
    }
    
    // Price Items can be read by any signed-in user.
    // They can be created, updated, and deleted by managers.
    match /priceItems/{itemId} {
      allow read: if isSignedIn();
      allow list: if isSignedIn();
      allow create, update, delete: if isManager();
    }

    // Activities can be read by the assigned advisor of the related lead or a manager.
    // They can be created, updated, and deleted by the assigned advisor or a manager.
    match /activities/{activityId} {
      allow get, create, update, delete: if isSignedIn() && (get(/databases/$(database)/documents/leads/$(request.resource.data.leadId)).data.assignedToId == request.auth.uid || isManager());
      allow list: if isManager();
    }

    // Quotes can be read by the assigned advisor of the related lead or a manager.
    // They can be created, updated, and deleted by the assigned advisor or a manager.
    match /quotes/{quoteId} {
       allow get, create, update, delete: if isSignedIn() && (get(/databases/$(database)/documents/leads/$(request.resource.data.leadId)).data.assignedToId == request.auth.uid || isManager());
       allow list: if isManager();
    }
  }
}
